/*------------------------------------------------------------------
[Table of contents]

 - Global
 - Section
 - Header  
-  Reviews
-  Carousel box
-  Video box
-  Members 
-  Support
-  Footer

- Project:	App Landing HTML/CSS Theme
- Version:	1.1
- Author:  Andrey Sokoltsov
- Profile:	http://themeforest.net/user/andreysokoltsov

-------------------------------------------------------------------*/

/* 01 Global */
*{
	margin: 0;
	padding: 0;
}
a:focus{
	outline:none;
}
a:-moz-focus-inner{
	border:0;
}
.sp-body{
	position: relative;
	right: 0;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.overlay{
	background-color: rgba(0, 15, 19, 0.9);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}
.customColor:hover,
.customColor:focus,
.customColor{
	color: #05c3f9 !important;
}
.customBgColor{
	background-color: #05c3f9 !important;
}
.graySection{
	background-color: #f7f7f7;
}
.whiteSection{
	background-color: #fff;
}
.darkFooter{
	background-color: #313131;
}
.grayTxtColor{
	color: #ccc;
}
.whiteTxtColor,
.whiteTxtColor:focus,
.whiteTxtColor:hover{
	color: #fff;
}
.blackTxtColor,
.blackTxtColor:focus,
.blackTxtColor:hover{
	color: #000;
}
.pageTxtColor,
.pageTxtColor:focus,
.pageTxtColor:hover{
	color: #666;
}
.redBgColor{
	background-color: #cb595b;
}
.greenBgColor{
	background-color: #4acf46;
}
.purpleBgColor{
	background-color: #7e74b8;
}
.blueBgColor{
	background-color: #46a3cf;
}
.yellowBgColor{
	background-color: #eed651;
}
.pinkBgColor{
	background-color: #db4a84;
}
.circleBox{
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.clear{
	clear: both;
}
.header{
	background-color: #162327;
	position: relative;
}
.fa.mobileMenuNav{
	display: none;
}
.wrapper{
	width: 1184px;
	min-width: 320px;
	margin: auto;
	display: block;
}
.logo{
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	width: 105px;
	height: 26px;
	float: left;
	margin: 55px 0 0 17px;	
}
.ip-logo .logo{
	margin: 0 auto;
	float: none;
	display: block;
}
.pageRow{
	float: left;
	width: 100%;
	overflow: hidden;
}
.roboto{
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}
.robotoItalic{
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
}
.robotoLight{
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}
.robotoMedium{
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
}
.robotoCondensed{
	font-weight: 400;
	font-family: 'Roboto Condensed', sans-serif;
}
.robotoCondensedBold{
	font-weight: 700;
	font-family: 'Roboto Condensed', sans-serif;
}
.raleway{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.ralewayLight{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
.ralewayMedium{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}
.ralewaySemiBold{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}
.ralewayBold{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;	
}
.fa-custom-google-play{
	background: url('../img/google-play-icon.png') no-repeat;
	width: 37px;
	height: 42px;	
}
.paralax{
	background-attachment: fixed !important;
	background-position: 50% 100% !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.trianglifyBox{
	background-image: url('../media/paralax/3.png');
}
.overflow-visible{
	overflow: visible !important;
}

/* 02 Section */
.skew{
	position: relative;
	min-height: 170px;
}
.skew-top{
	padding-top: 170px;
}
.skew-bottom{
	padding-bottom: 170px;
}
.straight{
	padding: 100px 0;
}
.straight-top{
	padding-top: 170px;
}
.straight-bottom{
	padding-bottom: 170px;
}
.skew_appended,
.skew_prepended{
	left: 0;
	overflow: hidden;
	padding-left: 0 !important;
	padding-right: 0 !important;
	position: absolute;
	width: 100%;
	height: 170px;
	z-index: 1;
    -ms-transform: skewY(-5deg);
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);
}
.skew_appended.reverse,
.skew_prepended.reverse{
    -ms-transform: skewY(5deg);
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg);	
}
.skew_appended.skew_up,
.skew_prepended.skew_up{
	left: 0;
	overflow: hidden;
	padding-left: 0 !important;
	padding-right: 0 !important;
	position: absolute;
    -ms-transform: skewY(-5deg);
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);
	width: 100%;
	height: 170px;
	z-index: 1;
}
.skew_appended{
	bottom: -85px;
}
.skew_prepended{
	top: -85px;
}
.skew-title{
	font-size: 15px;
	left: 0;
	line-height: 100%;
	padding: 19px 22px 15px;
	position: relative;
	top: 0;
	z-index: 1;
}
.skew-title:before{
	background-color: #05c3f9;
	bottom: 0;
	content: "";
	height: 200px;
	left: 0;
	position: absolute;
	width: 102%;
	z-index: -1;
	-ms-transform: skewY(-3deg);
	-webkit-transform: skewY(-3deg);
	transform: skewY(-3deg);
}
.nav-container{
	float: right;
	padding: 58px 0 0;
}
.nav-container .mobileMenuNav.small-device{
	color: #fff;
	display: none;
	font-size: 20px;
	margin: 0;
	padding: 15px 15px 5px;
}
ul.menu{
	float: left;
	margin: 0;
}
ul.menu > li{
	display: block;
	float: left;
	margin-left: 18px;
}
ul.menu > li.search{
	margin-left: 45px;
}
ul.menu li > a{
	float: left;
	font-size: 14px;
	line-height: 100%;
	text-transform: uppercase;
	position: relative;
}
ul.menu li.open > a{
	text-decoration: none;
}
ul.menu li.open > a:after{
	border-bottom: 6px solid #fff;
	border-left: 5px solid rgba(0, 0, 0, 0);
	border-right: 5px solid rgba(0, 0, 0, 0);
	bottom: -10px;
	content: "";
	height: 0;
	left: 50%;
	margin-left: -5px;
	position: absolute;
	width: 0;
}
ul.menu li .dropdown-menu{
	background-color: #fff;
	border: 0 none;
	margin-top: 10px;
	padding: 10px 0;
	min-width: 10px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
ul.menu li .dropdown-menu > li{
	float: left;
	width: 100%;
}
ul.menu li .dropdown-menu > li > a{
	color: #000;
	padding: 5px 15px;
}
ul.menu li .dropdown-menu > li > a:hover{
	background: rgba(0,0,0,0);
}
ul.menu li .dropdown-menu > li > a:hover{
	color: #05c3f9;
}
.search-form{
	float: left;
	margin-left: -20px;
	margin-right: -23px;
	margin-top: -8px;
}
.search-field{
	background: none;
	border: 0 none;
	color: #fff;
	float: left;
	font-size: 14px;
	height: 29px;
	line-height: 100%;
	padding: 0 30px 0 10px;
	text-transform: uppercase;
	width: 0px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s
}
.active .search-field{
	width: 180px;
	border: 1px solid #fff;
}
.iconSearch{
	padding-right: 10px;
}

/* 03 Header */
.header-bottom{
	padding-bottom: 83px;
}
.header-left{
	float: left;
	padding: 246px 0 0 18px;
	width: 45%;
}
.header-title{
	float: left;
	font-family: "Raleway",sans-serif;
	font-size: 41px;
	font-weight: 600;
	line-height: 45px;
	margin: 0 0 27px;
	width: 100%;
}
.header-subtitle_small{
	float: left;
	font-size: 14px;
	line-height: 100%;
	padding: 0 0 8px;
	width: 100%;
}
.header-subtitle_bold{
	float: left;
	font-size: 18px;
	line-height: 100%;
	width: 100%;
}
.header-outer{
	display: block;
}
.header-inner{
	display: block;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.fixed-header .header-outer{
	background-color: #162327;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
}
.fixed-header .header-outer .header-inner{
	margin: -30px auto 0;
	min-width: 320px;
	padding-bottom: 25px;
	width: 1184px;
}
.fixed-header .innerPageHeader{
	padding-bottom: 0;
}

/* 06 Video */

.video-conatiner{
	float: left;
	padding: 82px 0 0;
	width: 100%;
}
.video-image{
	background-color: #aaa;
	border: 5px solid #fff;
	float: left;
	height: 95px;
	position: relative;
	width: 160px;
}
.video-image img{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.video-image span{
	background-color: rgba(0, 0, 0, 0.5);
	display: block;
	height: 100%;
	position: relative;
	text-align: center;
	width: 100%;
}
.video-image:hover span{
	background-color: rgba(0, 0, 0, 0.6);
}
.video-image span i{
	font-size: 26px;
	left: 50%;
	margin: -14px 0 0 -13px;
	position: absolute;
	top: 50%;
}
a.video-text{
	float: left;
	margin: 40px 0 0 21px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	line-height: 100%;
	font-size: 14px;
}
.header-right{
	float: right;
	position: relative;
	width: 50%;
}
.header-right img{
	position: absolute;
	right: 0;
	top: 136px;
	max-width: 100%;
}
.title_bold{
	font-size: 30px;
}
.subtitle{
	color: #666;
	font-size: 16px;
}
ul.store-buttons{
	width: 500px;
	margin-top: 58px;
	margin-bottom: 30px;
}
ul.store-buttons li{
	display: block;
}
.ellipseBtn{
	float: left;
	font-family: "Roboto Condensed",sans-serif;
	font-weight: 400;	
	padding: 3px 1px;	
	border-radius: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
}
.ellipseBtn span{
	float: left;
	font-size: 22px;
	height: 100%;
	padding: 20px 0 0 85px;
	position: relative;
	width: 100%;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}
.ellipseBtn span i{
	font-size: 37px;
	height: 42px;
	left: 32px;
	line-height: 42px;
	margin: -22px 0 0;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 37px;
}
.ellipseBtn.bigBtn{
	width: 235px;
	height: 80px;
}
.ellipseBtn.middleBtn{
	width: 235px;
	height: 80px;
}
.ellipseBtn.smallBtn{
	width: 75px;
	height: 32px;
}
.ellipseBtn.smallBtn span{
	font-size: 14px;
	padding: 3px 0 0;
	text-align: center;
}
.ellipseBtn.whiteBtn{
	background-color: #888;
}
.ellipseBtn.whiteBtn span{
	background-color: #fff;
	color: #000;
}
.ellipseBtn.customWhiteBtn{
	background-color: #037fa2;
}
.ellipseBtn.customWhiteBtn span{
	background-color: #fff;
	color: #000;
}
.ellipseBtn.colorBtn{
	background-color: #0394be;
}
.ellipseBtn.colorBtn span{
	background-color: #05c3f9;
	color: #fff;
}
.arrowGetFree{
	position: relative;
}
.arrowGetFree:before{
	background: url('../media/arrows/arrows.png') no-repeat 0 0;
	content: "";
	height: 83px;
	position: absolute;
	right: -61px;
	top: -103px;
	width: 42px;
}
.sectionTitle{	
	font-size: 32px;
	margin: 0;
	padding: 23px 0 26px;
	position: relative;
}
.sectionTitle.balck{
	color: #000;
}
.sectionTitle.white{
	color: #fff;
}
.sectionTitle:after{
	background-color: #888;
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 80px;
	height: 4px;
	margin-left: -40px;
}
.sectionTitle.white:after{
	background-color: #fff;
}
.featuresList{
	margin-top: 70px;
	margin-bottom: 112px;
}
.featuresList li{
	display: block;	
}
.feature-item{
	padding: 48px 0 43px;
}
.feature-item.active,
.feature-item:hover{
	background-color: #fff;
	box-shadow: 0 0 10px -5px #999;
	-moz-box-shadow: 0 0 10px -5px #999;
	-webkit-box-shadow: 0 0 10px -5px #999;
}
.feature-item_title{
	font-size: 15px;
	margin: 49px 0 17px;
}
.feature-item_desc{
	color: #666;
	font-size: 12px;
	line-height: 20px;
}
.feature-item:hover .circle{
	background-color: #05c3f9;
}
.feature-item:hover .circle  span i{
	color: #888;
}
.circle{
	background-color: #888;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.circle span{
	background-color: #fff;
	color: #666;
	display: block;
	font-size: 10px;
	height: 100%;
	line-height: 24px;
	position: relative;
	width: 100%;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.circle span i{
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
.circle span b{
	color: #05c3f9;
	display: block;
	font-size: 26px;
	line-height: 24px;
	padding: 27px 0 0;
}
.circle.bigCircle{
	height: 122px;
	padding: 6px 1px;
	width: 120px;
}
.circle.bigCircle span i{
	font-size: 33px;
	height: 42px;
	line-height: 42px;
	width: 42px;
}
.circle.middleCircle{
	height: 108px;
	padding: 6px 1px;
	width: 104px;
}
.circle.middleCircle span i{
	font-size: 23px;
	height: 28px;
	line-height: 28px;
	width: 40px;
}
.circle.smallCircle{
	height: 82px;
	padding: 6px 1px;
	width: 80px;
}
.circle.smallCircle span i{
	font-size: 23px;
	height: 28px;
	line-height: 28px;
	width: 40px;
}
.circle.xSmallCircle{
	height: 42px;
	padding: 3px 1px;
	width: 40px;
}
.circle.xSmallCircle span i{
	font-size: 15px;
	height: auto;
	line-height: 36px;
	width: auto;
}
.newFeatureBox.skew-bottom{
	padding-bottom: 183px;
}
.downloadConainer{
	padding: 129px 0 20px 54px;
}
.sectionName{
	font-size: 28px;
	margin: 0;
	padding: 29px 0 25px;
}
.sectionDesc{
	font-size: 14px;
	line-height: 24px;
}
.downloadBox{
	padding: 56px 0 0;
}
.downloadBox-text{
	font-size: 22px;
	padding: 9px 47px 0 0;
	position: relative;
}
.downloadBox-appbox{
	font-size: 12px;
	padding: 45px 0 0;
	position: relative;
	width: 60px;
}
.downloadBox-appbox i{
	font-size: 36px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 0;
}
.arrowFreeDownload{
	position: relative;
}
.arrowFreeDownload:after{
	background: url('../media/arrows/arrows.png') no-repeat -42px 0;
	bottom: -19px;
	content: "";
	height: 24px;
	position: absolute;
	right: 141px;
	width: 58px;
}
.posterBox{
	position: relative;
}
.posterBox img{
	position: absolute;
	right: -5px;
	top: -51px;
	z-index: 2;
}
.chooseApp{
	padding: 40px 0 10px;
}
.centerPhone{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
}
.centerPhone img{
	max-width: 100%;
}
.optionsBox{
	margin: 35px 0 0;
}
.optionsList{
	padding: 65px 0 0;
}
.optionsList li{
	display: block;
}
.options-item{
	margin-bottom: 110px;
	min-height: 82px;
	position: relative;
}
.options-name{
	font-size: 15px;
	margin: 0;
	padding: 9px 0 12px;
}
.options-desc{
	color: #666;
	display: block;
	font-size: 13px;
	line-height: 20px;
}
.options-item .circle{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
.options-item:hover .circle{
	background-color: #05c3f9;
}
.options-item:hover .circle  span i{
	color: #888;
}
.pull-left .options-item{
	padding-right: 100px;
}
.pull-right .options-item{
	padding-left: 100px;
}
.pull-left .options-item .circle{
	right: 0;
}
.pull-right .options-item .circle{
	left: 0;
}
.option-dots{
	background-color: #eee;
	bottom: -60px;
	height: 8px;
	position: absolute;
	width: 8px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.pull-left .option-dots{
	right: 35px;
}
.pull-right .option-dots{
	left: 35px;
}
.option-dots:before{
	background-color: #eee;
	content: "";
	position: absolute;
	left: 0;
	top: -20px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.option-dots:after{
	background-color: #eee;
	content: "";
	position: absolute;
	left: 0;
	bottom: -20px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.bottom-bracket{
	border-bottom: 5px solid #fff;
	font-size: 24px;
	height: 65px;
	line-height: 48px;
	width: 80px;
}

/* 04 Reviews */

.reviews-title{
	font-size: 32px;
	margin: 0;
	padding: 34px 0 5px;
}
.reviews-subtitle{
	display: block;
	font-size: 16px;
}
.reviewsArrow{
	position: relative;
}
.reviewsArrow:after{
	background: url("../media/arrows/arrows.png") no-repeat 0 -83px;
	bottom: -37px;
	content: "";
	height: 73px;
	left: 50%;
	margin-left: 209px;
	position: absolute;
	width: 34px;
}
.review-slide{
	display: block;
	width: 100%;
	height: auto;
	padding-bottom: 45px;
}
.review-slide_text{
	font-size: 17px;
	line-height: 26px;
	padding: 46px 0 54px;
}
.review-slide_autor{
	min-height: 58px;
	padding: 0 0 0 66px;
	position: relative;
	width: 225px;
}
.review-slide_autor-ava{
	background-color: #bebebe;
	border: 4px solid #04aede;
	height: 58px;
	left: 0;
	margin-top: -29px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	width: 58px;
}
.review-slide_autor-ava img{
	width: 100%;
	height: 100%;
	display: block;
}
.review-slide_autor-name{
	display: block;
	font-size: 19px;
	padding: 3px 0;
}
.review-slide_autor-post{
	font-size: 12px;
}
.review-full-width{
	padding: 0 17%;
	min-height: 333px;
}
.full-width-slider-controls{
	position: relative;
}
.full-width-slider-controls .staticBox{
	position: static;
}
.full-width-slider-controls .owl-theme .owl-controls{
	margin: 0;
	position: absolute;
	right: 60px;
	top: 50%;
	width: 26px;
}
.screenshotsTitBox{
	padding: 83px 0 75px;
}

/* 05 Carousel */

.phone-slider{
	z-index: 2;
	padding-bottom: 80px;
}
.phone-slider .screenshot-item{
	background-image: url("../media/home/slider.png");
	background-repeat: no-repeat;
	height: 638px;
	margin: 0 auto;
	padding: 94px 22px 91px 21px;
	width: 300px;
}
.phone-slider .screenshot-item img{
	height: 100%;
	width: 100%;
}
.phone-slider.owl-theme .owl-controls{
	margin-top: 73px;
}
.phone-slider.owl-theme .owl-controls .owl-buttons div{
	background: url("../media/arrows/arrows.png") no-repeat;
	height: 24px;	
	width: 37px;
	margin: 5px 15px;
	opacity: 1;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.phone-slider.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	opacity: 0.5;
}
.phone-slider.owl-theme .owl-controls .owl-buttons .owl-prev{
	background-position: -42px -24px;
}
.phone-slider.owl-theme .owl-controls .owl-buttons .owl-next{
	background-position: -42px -48px;
}
.skew-screenshots{
	margin-top: -26px;
}
.skew-screenshots .skew_prepended{
	height: 230px;
	top: -120px;
}
.moreAppsBox{
	padding: 70px 0;
}
.apps-slider{
	padding: 80px 0 0;
}
.preview-item{
	background-color: #fff;
	width: 270px;
}
.preview-item_header{
	background-color: #e7e7e7;
	display: table;
	width: 100%;
	height: 300px;
	position: relative;
}
.preview-item_header img{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.preview-item_hover{
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	line-height: 20px;
	padding: 0 20px;
	text-align: center;
	vertical-align: middle;
	position: relative;
	width: 100%;
	height: 100%;
}
.preview-item_header:hover .preview-item_hover{
	display: table-cell;	
}
.preview-item_hover i{
	font-size: 22px;
}
.preview-item_body{
	padding: 32px 26px 26px;
	position: relative;
}
.preview-item_body .colorIcon{
	position: absolute;
	right: 22px;
	top: -48px;
}
.preview-item_title{
	font-size: 15px;
	margin: 0 0 8px;
}
ul.rating{
	margin: 0;
	padding: 0;
}
ul.rating li{
	color: #e0e0e0;
	display: block;
	float: left;
	font-size: 14px;
}
ul.rating li.active{
	color: #ff9c1c;
}
.preview-item_pricebox{
	padding: 13px 0 0;
}
.preview-item_price{
	font-size: 17px;
	margin-right: 7px;
}
.preview-item_price.through{
	color: #bbb;
	text-decoration: line-through;	
}
.downloadAppBox{
	padding: 65px 0 0;
}
.phonesImgBox img{
	display: block;
	margin: 19px 0 0 9px;
	max-width: 100%;
	position: relative;
	z-index: 2;
}
.downloadContainer{
	padding-left: 60px;
}
.download-title{
	font-size: 32px;
	margin: 0;
	padding: 10px 0 32px;
	position: relative;
}
.download-title:after{
	background: url("../media/arrows/arrows.png") no-repeat -42px -83px;
	content: "";
	height: 65px;
	left: 306px;
	position: absolute;
	top: 32px;
	width: 28px;
}
.download-title:before{
	background-color: #888;
	content: "";
	position: absolute;
	left: 2px;
	bottom: 0;
	width: 80px;
	height: 4px;	
}
.download-subtitle{
	color: #666;
	display: block;
	font-size: 16px;
	margin: 80px 0 0;
}
.downloadContainer ul.store-buttons{
	margin: 37px 0 0;
}
.subscribeNewsletter{
	margin-top: -282px;
}
.subscribeContainer{
	padding: 28px 15px 95px 60px;
}
.subscribe-title{
	font-size: 20px;
	margin: 0;
}
.subscribeFormBox{
	border-bottom: 1px solid #bbb;
	padding: 43px 0 16px;
	position: relative;
}
.subscribe-form{
	width: 470px;
}
.subscribe-field{
	color: #666;
	background: transparent;
	border: 0 none;
	font-size: 14px;
	padding: 5px;
	width: 375px;
}
.ellipseSubmitBtn{
	border-color: #0394be;	
	border-style: solid;
	border-width: 3px 1px;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}
.ellipseSubmitBtn.smallBtn{
	width: 72px;
	height: 31px;
}
.discountBox{
	padding: 85px 0;
}
.discountBox .smallText{
	padding: 39px 0 56px;
}
.smallText{
	color: #666;
	display: block;
	font-size: 14px;
	line-height: 22px;
}
.package-list{
	display: block;
	margin: 0;
	padding: 0;
}
.package-list li{
	display: block;
}
.package-item{
	width: 330px;
}
.package-header{
	background-color: #fff;
	border: 1px solid #dedede;
	font-size: 15px;
	height: 147px;
	padding: 35px 0 0;
}
.package-header .circle{
	margin-top: 34px;
	position: relative;
}
.package-body{
	background-color: #fff;
	border-color: #dedede;
	border-style: none solid solid;
	border-width: 0 1px 1px;
	padding: 86px 0 38px;
	min-height: 403px;
}
.package-options{
	margin: 0;
	padding: 0 0 30px;
}
.package-options li{
	color: #666;
	padding-bottom: 20px;
}
.ellipseLink{
	background-color: #fff;
	border-color: #888;	
	border-style: solid;
	border-width: 4px 1px;
	font-size: 12px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}
.ellipseLink:hover{
	text-decoration: none;
}
.ellipseLink.middleLink{
	width: 120px;
	height: 48px;
	line-height: 40px;
}
.best{
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.best .package-header{
	background-color: #05c3f9;
	border-color: #05c3f9;
}
.best .package-header .circle{
	background-color: #fff;
}
.best .package-header .circle span{
	background-color: #05c3f9;
}
.best .package-header .circle span,
.best .package-header .circle span b{
	color: #fff;
}
.best .package-body{
	background-color: #f7f7f7;
	border-color: #fff;
}
.best .ellipseLink{
	background-color: #05c3f9;
	border-color: #0394be;
}

/* Members */

.membersArrow{
	position: relative;
}
.membersArrow:after{
	background: url("../media/arrows/arrows.png") no-repeat 0 -83px;
	bottom: -76px;
	content: "";
	height: 73px;
	left: 50%;
	margin-left: 199px;
	position: absolute;
	width: 34px;
}
.member-full-width{
	padding: 103px 0 93px;
}
.member-ava{
	background-color: #d2d2d2;
	width: 128px;
	height: 128px;
	border: 4px solid #04aede;
	overflow: hidden;
}
.member-ava img{
	width: 100%;
	height: 100%;
	display: block;
}
.member-name{
	font-size: 20px;
	padding: 25px 0 2px;
}
.member-specialty{
	font-size: 12px;
}
.featuredBox{
	padding: 65px 0 25px;
}
.featured-list{
	display: block;
	margin: 0;
	padding: 74px 45px 0;
	text-align: center;
}
.featured-list li{
	display: inline-block;
	margin: 0 30px 40px;
}
.featured-list li img{
	display: block;
}

/* Footer */

.footerBox{
	padding: 0 0 70px
}
.straight .footerBox{
	padding: 0;
}
.footer-logo{
	width: 105px;
}
.footer-logo img{
	display: block;
	width: 100%;
}
.copyrightTxt{
	font-size: 12px;
	padding: 16px 0 41px;
}
.socialmenu{
	padding: 0;
	margin: 0;
}
.socialmenu li{
	display: inline-block;
	margin: 0 2px;
	text-align: center;
}
.socialmenu li a{
	display: block;
	font-size: 20px;
	text-align: center;
	width: 30px;
}

/* Support */

.supportBox{
	padding: 0 11% 52px;
}
.supportBox .sectionTitle{
	margin-bottom: 53px;
}
.support-item{
	padding: 0 0 37px 100px;
	position: relative;
}
.support-item .circle{
	left: 0;
	position: absolute;
	top: 5px;
}
.support-item_name{
	font-size: 15px;
	margin: 0;
	padding: 10px 0 12px;
}
.support-item_info{
	color: #666;
	font-size: 12px;
	line-height: 22px;
}
.support-item_info a{
	color: #666;
	float: left;
	clear: both;
}
.support-desc{
	color: #666;
	line-height: 23px;
}
.support-formbox{
	padding-top: 21px;
}
.support-formbox .form-group{
	padding: 20px 0 21px;
}
.support-formbox .half-wigth{
	width: 48%;
}
.support-formbox .full-width{
	width: 100%;
}
input.lineField{
	background-color: transparent;
	border-color: #bbb;
	border-style: none none solid;
	border-width: 0 0 1px;
	font-size: 13px;
	line-height: 100%;
	padding: 10px 8px 19px;
	width: 100%;
}
textarea.lineField{
	background-color: transparent;
	border-color: #bbb;
	border-style: none none solid;
	border-width: 0 0 1px;
	font-size: 13px;
	height: 146px;
	line-height: 100%;
	padding: 10px 8px 19px;
	width: 100%;
}
.support-formbox .ellipseSubmitBtn{
	margin-top: 9px;
}
.goToTop{
	background: #162327;
	color: #fff;
	bottom: 113px;
	font-size: 24px;
	height: 50px;
	left: 30px;
	line-height: 48px;	
	position: fixed;
	text-align: center;
	width: 50px;
	z-index: 2;
	display: none;
	opacity: 0.4;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.goToTop:hover{
	opacity: 1;
}
.header-v2.header-bottom{
	padding-bottom: 124px;
}
.header-v2 .header-left{
	padding: 266px 0 0 18px;
}
.header-v2 .header-right img{
	right: 2px;
	top: 95px;
}
.header-v2 .ellipseLink.customColorLink{
	background-color: #05c3f9;
	border-color: #0394be;
	height: 50px;
	margin: 65px 0 0;
	padding: 13px 0 0;
	text-align: center;
	width: 131px;
}
.videoAppsBox{
	padding: 70px 10% 40px;
}
.video-container.pagePlayer{
	margin-top: 60px;
}
.logo.footerLogo{
	margin: 18px 0 38px;
}
.footer-desc{
	font-size: 12px;
	line-height: 20px;
	padding-bottom: 20px;
}
.footer-title{
	margin: 0 0 49px;
	padding: 0 0 16px;
	position: relative;	
}
.footer-title:after{
	background-color: #888;
	bottom: 0;
	content: "";
	height: 4px;
	left: 0;
	position: absolute;
	width: 69px;
}
.footer_blog-item{
	min-height: 75px;
	padding: 0 0 0 30%;
	position: relative;
	margin-bottom: 31px;
	overflow: hidden;
}
.footer_blog-item_img{
	background-color: #bbb;
	left: 0;
	position: absolute;
	top: 0;
	width: 25%;
}
.footer_blog-item_img:before{
	content: "";
	display: block;
	padding-top: 100%;
}
.footer_blog-item_link{
	display: block;
}
.footer_blog-item_img img{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.footer_blog-item_text{
	font-size: 12px;
}
.footer_blog-item_date{
	color: #666;
	font-size: 11px;
	padding: 14px 0 0;
}
.tags{
	margin: 0;
}
.tags li{
	display: block;
	float: left;
	margin: 0 8px 8px 0;
}
.tags li a{
	background-color: #05c3f9;
	border: 1px solid #555;
	float: left;
	font-size: 12px;
	height: 33px;
	line-height: 100%;
	padding: 10px 15px 0;
	text-decoration: none;
}
.tags li a.hvr-rectangle-in:before{
	background-color: #313131;
}
.tags li a:hover{
	border-color: #05c3f9;
	color: #fff;
}
.tagsLabel{
	padding: 7px 3px 0 0;
}
.tagsLabel i{
	color: #969696;
	font-size: 15px;
	margin-right: 2px;
}
.tags.whiteTags li a.hvr-rectangle-in:before{
	background-color: #fff;
}
.tags.whiteTags li a{
	border: 1px solid #dedede;
}
.widgets{
	margin: 0;
}
.widgets li{
	display: block;
	float: left;
	padding: 0 10px 10px 0;
	width: 33%;
}
.widgets li a{
	background-color: #bbb;
	float: left;
	width: 100%;
	position: relative;
}
.widgets li a img{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.widgets li a:before{
	content: "";
	display: block;
	padding-top: 100%;	
}
.footerBottom{
	background-color: #232323;
}
.footerBottom .footerV2Box{
	padding: 33px 0 29px;
}
.footerBottom .socialmenu li a{
	color: #969696;
}
.copyrightV2Txt{
	font-size: 12px;
	padding-top: 5px;
}
.help-block.text-danger, .help-block.text-danger:hover {
	color: #ff0039;
}
.help-block ul{
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.help-block ul li{
	list-style: outside none none;
	margin: 0;
	padding: 0;
	line-height: 100%;
	font-size: 14px;
	font-family: "Roboto",sans-serif;
	font-weight: 300;
}
.mailchimp-form{
	float: left;
	padding-right: 95px;
	position: relative;
	width: 450px;
}
.mailchimp-form_field .subscribe-field{
	width: 100%;
}
.mailchimp-form_btn{
	position: absolute;
	right: 0;
	top: 0;
}