<!DOCTYPE html>
<html class=" js cssanimations ua-windows_nt ua-windows_nt-6 ua-windows_nt-6-3 ua-gecko ua-gecko-39 ua-gecko-39-0 ua-firefox ua-firefox-39 ua-firefox-39-0 ua-desktop ua-desktop-windows js" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>AppBox</title>
		<link rel="shortcut icon" type="image/x-icon" href="http://html.templines.com/sokolcov/appbox/favicon.png">

		<link href="AppBox2_arquivos/master.css" rel="stylesheet">

		<!-- SWITCHER -->
		<link rel="stylesheet" id="switcher-css" type="text/css" href="AppBox2_arquivos/switcher.css" media="all">
		<link rel="alternate stylesheet" type="text/css" href="AppBox2_arquivos/color1.css" title="color1" media="all" data-default-color="true">


		<script src="AppBox2_arquivos/jquery-1.js"></script>
		<script src="AppBox2_arquivos/bootstrap.js"></script>
		<script src="AppBox2_arquivos/modernizr.js"></script>

	</head>
	<body class="animated-css layout-switch">
		<div class="sp-body">
		<!-- Start Switcher -->
		<div class="switcher-wrapper">	
			<script src="AppBox2_arquivos/bootstrap-select.js"></script> 
			<script src="AppBox2_arquivos/evol.js" type="text/javascript"></script> 
			<script src="AppBox2_arquivos/dmss.js"></script>
		</div>
		<!-- End Switcher -->
		<header class="header pageRow paralax skew skew-bottom" style="background-image: url('media/paralax/2.jpg');">
			<div class="overlay"></div>
			<div class="wrapper">
				<div class="header-outer">
					<div class="header-inner">
						<div class="header-top row">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6"><a href="http://html.templines.com/sokolcov/appbox/" class="logo"></a></div>
							<div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
								<i class="fa fa-bars mobileMenuNav whiteTxtColor"></i>
								<nav class="nav-container customBgColor">
									<i class="fa fa-times mobileMenuNav small-device"></i>
									<ul class="menu">
										<li class="search pull-right">
											<form class="search-form form-inline" action="#" method="POST">
												<div class="form-group">
													<label class="sr-only" for="searchQuery">Search...</label>
													<input class="search-field roboto" id="searchQuery" placeholder="Search..." type="search">
												</div>
												<button type="submit" class="hidden">Search</button>
											</form>
											<a class="iconSearch roboto whiteTxtColor" href="#"><i class="fa fa-search"></i></a>
										</li>
										<li class="dropdown">
											<a data-toggle="dropdown" class="roboto whiteTxtColor dropdown-toggle" href="http://html.templines.com/sokolcov/appbox/home-1.html">HOME <i class="fa fa-angle-down"></i></a>
											<ul class="dropdown-menu clearfix">
												<li><a class="roboto" href="http://html.templines.com/sokolcov/appbox/home-1.html">HOME Version 1</a></li>
												<li><a class="roboto" href="http://html.templines.com/sokolcov/appbox/home-2.html">HOME Version 2</a></li>
												<li><a class="roboto" href="http://html.templines.com/sokolcov/appbox/home-3.html">HOME Version 3</a></li>
											</ul>
										</li>
										<li><a class="roboto whiteTxtColor" href="http://html.templines.com/sokolcov/appbox/home-1.html">ABOUT</a></li>
										<li><a class="roboto whiteTxtColor" href="http://html.templines.com/sokolcov/appbox/app-store.html">FEATURES</a></li>
										<li><a class="roboto whiteTxtColor" href="http://html.templines.com/sokolcov/appbox/app-details.html">REVIEWS</a></li>
										<li><a class="roboto whiteTxtColor" href="http://html.templines.com/sokolcov/appbox/home-1.html">SCREENS</a></li>
										<li><a class="roboto whiteTxtColor" href="http://html.templines.com/sokolcov/appbox/blog.html">BLOG</a></li>
										<li><a class="roboto whiteTxtColor" href="http://html.templines.com/sokolcov/appbox/home-1.html">SUPPORT</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<div class="header-bottom header-v2 row">
					<div class="col-lg-12">
						<div class="header-left">
							<h1 class="header-title ralewaySemiBold whiteTxtColor">Best Way To Present Your Beautiful Mobile App</h1>
							<span class="header-subtitle_small roboto whiteTxtColor">AppBox is full of awesome features. Its designed for</span>
							<span class="header-subtitle_bold robotoMedium whiteTxtColor">App Landing and App Store site</span>
							<a href="http://html.templines.com/sokolcov/appbox/blog-details.html" class="ellipseLink text-uppercase customColorLink whiteTxtColor pull-left robotoMedium hvr-pop" data-wow-delay="3.3s">LEARN MORE</a>
						</div>
						<div class="header-right">
							<img style="visibility: visible; animation-delay: 3.3s; animation-name: fadeInRight;" class="wow fadeInRight" data-wow-delay="3.3s" src="AppBox2_arquivos/5.png" alt="Phone">
						</div>
					</div>
				</div>
			</div>
			<div class="skew_appended whiteSection"></div>
		</header>
		<section id="getForFree" class="pageRow">
			<div class="wrapper">
				<div class="row">
					<div class="col-lg-12">
						<h2 style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;" class="title_bold text-center ralewaySemiBold wow zoomIn blackTxtColor" data-wow-delay="0.3s">GET IT FOR FREE</h2>
						<span style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;" class="subtitle text-center robotoLight col-lg-12 col-md-12 col-sm-12 col-xs-12 wow zoomIn" data-wow-delay="0.3s">Choose your native platform and download the app FREE!</span>
						<div class="clearfix"></div>
						<ul class="store-buttons center-block clearfix arrowGetFree">
							<li style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;" class="pull-left wow fadeInLeft" data-wow-delay="0.3s">
								<a href="#" class="ellipseBtn bigBtn whiteBtn hvr-pop">
									<span>
										<i class="fa-custom-google-play"></i>
										Google Play
									</span>
								</a>
							</li>
							<li style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;" class="pull-right wow fadeInRight" data-wow-delay="0.3s">
								<a href="#" class="ellipseBtn bigBtn colorBtn hvr-pop">
									<span>
										<i class="fa fa-apple"></i>
										iOS App Store
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>			
		</section>
		<section id="amazingFeatures" class="pageRow skew skew-top graySection">
			<div class="wrapper">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="sectionTitle text-center ralewayLight balck">Some Amazing Features</h3>
						<ul class="featuresList pull-left col-lg-12">
							<li style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
								<div class="feature-item text-center clearfix hvr-pop">
									<div class="circle bigCircle center-block">
										<span><i class="fa fa-laptop customColor"></i></span>
									</div>
									<span class="feature-item_title text-uppercase text-center ralewaySemiBold col-lg-12 col-md-12 col-sm-12 col-xs-12 blackTxtColor">RESPONSIVE DESIGN</span>
									<span class="feature-item_desc text-center robotoLight col-lg-12 col-md-12 col-sm-12 col-xs-12">Eleifend morbi velit porttitor sed ipsum imperdiet ac ullamcorper fusce</span>
								</div>
							</li>
							<li style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
								<div class="feature-item text-center clearfix hvr-pop">
									<div class="circle bigCircle center-block">
										<span><i class="fa fa-flask customColor"></i></span>
									</div>
									<span class="feature-item_title text-uppercase text-center ralewaySemiBold col-lg-12 col-md-12 col-sm-12 col-xs-12 blackTxtColor">EASY TO CUSTOMIZE</span>
									<span class="feature-item_desc text-center robotoLight col-lg-12 col-md-12 col-sm-12 col-xs-12">Eleifend morbi velit porttitor sed ipsum imperdiet ac ullamcorper fusce</span>
								</div>
							</li>
							<li style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
								<div class="feature-item text-center clearfix hvr-pop">
									<div class="circle bigCircle center-block">
										<span><i class="fa fa-plane customColor"></i></span>
									</div>
									<span class="feature-item_title text-uppercase text-center ralewaySemiBold col-lg-12 col-md-12 col-sm-12 col-xs-12 blackTxtColor">PERFECT SHOWCASE</span>
									<span class="feature-item_desc text-center robotoLight col-lg-12 col-md-12 col-sm-12 col-xs-12">Eleifend morbi velit porttitor sed ipsum imperdiet ac ullamcorper fusce</span>
								</div>
							</li>
							<li style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
								<div class="feature-item text-center clearfix hvr-pop">
									<div class="circle bigCircle center-block">
										<span><i class="fa fa-cog customColor"></i></span>
									</div>
									<span class="feature-item_title text-uppercase text-center ralewaySemiBold col-lg-12 col-md-12 col-sm-12 col-xs-12 blackTxtColor">APP STORE SUPPORT</span>
									<span class="feature-item_desc text-center robotoLight col-lg-12 col-md-12 col-sm-12 col-xs-12">Eleifend morbi velit porttitor sed ipsum imperdiet ac ullamcorper fusce</span>
								</div>
							</li>							
						</ul>
					</div>
				</div>
			</div>
			<div class="skew_prepended whiteSection"></div>
		</section>
		<section id="new" class="pageRow paralax skew skew-bottom customBgColor trianglifyBox">
			<div class="wrapper">
				<div class="downloadConainer row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 clearfix">
						<a href="http://html.templines.com/sokolcov/appbox/app-details.html" class="ellipseBtn smallBtn customWhiteBtn hvr-pop pull-left clear">
							<span class="text-uppercase">new</span>
						</a>
						<h3 class="sectionName ralewaySemiBold pull-left whiteTxtColor clear">Live conference support available</h3>
						<div class="sectionDesc robotoLight whiteTxtColor pull-left clear">Eleifend
 morbi orci velit porttitor sed imperdiet ac ullamcorper Fusce eget 
tortor vel magna iaculis convallis. Aeneaneros vitae metus pellentesque 
tincidunt.Cum sociis natoque penatibus et magnis dis parturient montes.</div>
						<div class="downloadBox pull-left clear arrowFreeDownload">
							<span class="downloadBox-text robotoCondensed whiteTxtColor pull-left">Free Download On</span>
							<span class="downloadBox-appbox robotoCondensedBold whiteTxtColor pull-left text-center">
								<i class="fa fa-android"></i>
								ANDROID
							</span>
							<span class="downloadBox-appbox robotoCondensedBold whiteTxtColor pull-left text-center">
								<i class="fa fa-apple"></i>
								iOS
							</span>
						</div>
					</div>
					<div class="posterBox col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<img style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;" class="wow fadeInRight" src="AppBox2_arquivos/2_002.png" alt="Poster" data-wow-delay="0.3s">
					</div>
				</div>
			</div>
			<div class="skew_appended whiteSection"></div>
		</section>
		<section id="choose" class="pageRow">
			<div class="wrapper">
				<div class="chooseApp row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
						<h3 class="sectionTitle text-center ralewayLight balck">Why Choose AppBox</h3>
						<div class="row">
							<div class="optionsBox col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
								<div class="centerPhone col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
									<img style="visibility: visible; animation-delay: 0.3s; animation-name: bounceIn;" class="wow bounceIn" src="AppBox2_arquivos/3_002.png" alt="Phone" data-wow-delay="0.3s">
								</div>
								<ul class="optionsList pageRow">
									<li class="pull-left col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;" class="options-item wow fadeInLeft" data-wow-delay="0.3s">
											<div class="circle smallCircle">
												<span><i class="fa fa-cubes customColor"></i></span>
											</div>
											<h4 class="options-name ralewaySemiBold text-uppercase text-right blackTxtColor">APP STORE</h4>
											<span class="options-desc robotoLight text-right">Eleifend morbi velit porttitor sed ipsum imperdiet ac ullamcorper fusce</span>
											<span class="option-dots"></span>
										</div>
									</li>
									<li class="pull-right col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;" class="options-item wow fadeInRight" data-wow-delay="0.3s">
											<div class="circle smallCircle">
												<span><i class="fa fa-flag customColor"></i></span>
											</div>
											<h4 class="options-name ralewaySemiBold text-uppercase text-left blackTxtColor">MULTIPURPOSE LAYOUT</h4>
											<span class="options-desc robotoLight text-left">Eleifend morbi velit porttitor sed ipsum imperdiet ac ullamcorper fusce</span>
											<span class="option-dots"></span>
										</div>
									</li>
									<li class="pull-left col-lg-4 col-md-4 col-sm-4 col-xs-12 clear">
										<div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;" class="options-item wow fadeInLeft" data-wow-delay="0.3s">
											<div class="circle smallCircle">
												<span><i class="fa fa-desktop customColor"></i></span>
											</div>
											<h4 class="options-name ralewaySemiBold text-uppercase text-right blackTxtColor">RETINA READY</h4>
											<span class="options-desc robotoLight text-right">Eleifend morbi velit porttitor sed ipsum imperdiet ac ullamcorper fusce</span>
											<span class="option-dots"></span>
										</div>
									</li>
									<li class="pull-right col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;" class="options-item wow fadeInRight" data-wow-delay="0.3s">
											<div class="circle smallCircle">
												<span><i class="fa fa-comment customColor"></i></span>
											</div>
											<h4 class="options-name ralewaySemiBold text-uppercase text-left blackTxtColor">LIVE CHAT SUPPORT</h4>
											<span class="options-desc robotoLight text-left">Eleifend morbi velit porttitor sed ipsum imperdiet ac ullamcorper fusce</span>
											<span class="option-dots"></span>
										</div>
									</li>
									<li class="pull-left col-lg-4 col-md-4 col-sm-4 col-xs-12 clear">
										<div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;" class="options-item wow fadeInLeft" data-wow-delay="0.3s">
											<div class="circle smallCircle">
												<span><i class="fa fa-apple customColor"></i></span>
											</div>
											<h4 class="options-name ralewaySemiBold text-uppercase text-right blackTxtColor">PREMIUM SUPPORT</h4>
											<span class="options-desc robotoLight text-right">Eleifend morbi velit porttitor sed ipsum imperdiet ac ullamcorper fusce</span>
										</div>
									</li>
									<li class="pull-right col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;" class="options-item wow fadeInRight" data-wow-delay="0.3s">
											<div class="circle smallCircle">
												<span><i class="fa fa-coffee customColor"></i></span>
											</div>
											<h4 class="options-name ralewaySemiBold text-uppercase text-left blackTxtColor">AND MANY MORE </h4>
											<span class="options-desc robotoLight text-left">Eleifend morbi velit porttitor sed ipsum imperdiet ac ullamcorper fusce</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="reviews" class="pageRow full-width-slider-controls paralax skew skew-top customBgColor trianglifyBox">
			<div class="wrapper">
				<div class="reviewsContainer row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix staticBox">
						<div class="bottom-bracket whiteTxtColor circleBox center-block text-center"><i class="fa fa-quote-right"></i></div>
						<h3 class="reviews-title whiteTxtColor raleway text-center reviewsArrow">App Reviews</h3>
						<span class="reviews-subtitle robotoLight whiteTxtColor text-center">Read What Our Happy Customers Are Saying</span>
						<div style="opacity: 1; display: block;" id="owl-reviews" class="owl-carousel white-control review-full-width staticBox owl-theme">
							<div class="owl-wrapper-outer"><div style="width: 4686px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-1562px, 0px, 0px);" class="owl-wrapper"><div style="width: 781px;" class="owl-item"><div class="review-item">
								<div class="review-slide">
									<div class="review-slide_text whiteTxtColor robotoItalic text-center">Eleifend
 morbi orci velit porttitor sed imperdiet ac ullamcorper Fusce eget 
tortor vel magna iaculis convallis. Aeneaneros vitae metus pellentesque 
tincidunt.Cum sociis natoque penatibus et magnis dis parturient montes 
turpis donec tincidunt tellus.</div>
									<div class="review-slide_autor center-block">
										<div style="visibility: visible; animation-delay: 0.3s; animation-name: rotateIn;" class="review-slide_autor-ava circleBox wow rotateIn" data-wow-delay="0.3s">
											<img src="AppBox2_arquivos/1_002.jpg" alt="User Ava">
										</div>
										<div class="review-slide_autor-name whiteTxtColor robotoCondensed">Oscar Mendis</div>
										<div class="review-slide_autor-post whiteTxtColor roboto">Director: BoxApp Media Inc.</div>										
									</div>
								</div>
							</div></div><div style="width: 781px;" class="owl-item"><div class="review-item">
								<div class="review-slide">
									<div class="review-slide_text whiteTxtColor robotoItalic text-center">Eleifend
 morbi orci velit porttitor sed imperdiet ac ullamcorper Fusce eget 
tortor vel magna iaculis convallis. Aeneaneros vitae metus pellentesque 
tincidunt.Cum sociis natoque penatibus et magnis dis parturient montes 
turpis donec tincidunt tellus.</div>
									<div class="review-slide_autor center-block">
										<div style="visibility: visible; animation-delay: 0.3s; animation-name: rotateIn;" class="review-slide_autor-ava circleBox wow rotateIn" data-wow-delay="0.3s">
											<img src="AppBox2_arquivos/1_002.jpg" alt="User Ava">
										</div>
										<div class="review-slide_autor-name whiteTxtColor robotoCondensed">Oscar Mendis</div>
										<div class="review-slide_autor-post whiteTxtColor roboto">Director: BoxApp Media Inc.</div>										
									</div>
								</div>
							</div></div><div style="width: 781px;" class="owl-item"><div class="review-item">
								<div class="review-slide">
									<div class="review-slide_text whiteTxtColor robotoItalic text-center">Eleifend
 morbi orci velit porttitor sed imperdiet ac ullamcorper Fusce eget 
tortor vel magna iaculis convallis. Aeneaneros vitae metus pellentesque 
tincidunt.Cum sociis natoque penatibus et magnis dis parturient montes 
turpis donec tincidunt tellus.</div>
									<div class="review-slide_autor center-block">
										<div style="visibility: visible; animation-delay: 0.3s; animation-name: rotateIn;" class="review-slide_autor-ava circleBox wow rotateIn" data-wow-delay="0.3s">
											<img src="AppBox2_arquivos/1_002.jpg" alt="User Ava">
										</div>
										<div class="review-slide_autor-name whiteTxtColor robotoCondensed">Oscar Mendis</div>
										<div class="review-slide_autor-post whiteTxtColor roboto">Director: BoxApp Media Inc.</div>										
									</div>
								</div>
							</div></div></div></div>
							
							
						<div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div></div></div></div>
					</div>
				</div>
			</div>
			<div class="skew_prepended whiteSection"></div>
		</section>
		<section id="screenshots-title" class="pageRow">
			<div class="wrapper">
				<div class="screenshotsTitBox row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
						<h3 class="sectionTitle text-center ralewayLight balck">AppBox Screenshots</h3>
					</div>
				</div>
			</div>
		</section>
		<section id="screenshots" class="pageRow skew skew-screenshots graySection">
			<div class="wrapper">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
						<div style="opacity: 1; display: block;" id="owl-screenshots" class="owl-carousel phone-slider owl-theme">
							<div class="owl-wrapper-outer"><div style="width: 4740px; left: 0px; display: block;" class="owl-wrapper"><div style="width: 395px;" class="owl-item"><div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;" class="screenshot-item wow fadeInLeft" data-wow-delay="0.3s">
								<img src="AppBox2_arquivos/1.jpg" alt="Screenshot">
							</div></div><div style="width: 395px;" class="owl-item"><div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;" class="screenshot-item wow fadeInUp" data-wow-delay="0.3s">
								<img src="AppBox2_arquivos/2_003.jpg" alt="Screenshot">
							</div></div><div style="width: 395px;" class="owl-item"><div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;" class="screenshot-item wow fadeInRight" data-wow-delay="0.3s">
								<img src="AppBox2_arquivos/3.jpg" alt="Screenshot">
							</div></div><div style="width: 395px;" class="owl-item"><div class="screenshot-item">
								<img src="AppBox2_arquivos/1.jpg" alt="Screenshot">
							</div></div><div style="width: 395px;" class="owl-item"><div class="screenshot-item">
								<img src="AppBox2_arquivos/2_003.jpg" alt="Screenshot">
							</div></div><div style="width: 395px;" class="owl-item"><div class="screenshot-item">
								<img src="AppBox2_arquivos/3.jpg" alt="Screenshot">
							</div></div></div></div>
							
							
							
							
							
						<div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
					</div>
				</div>
			</div>
			<div class="skew_prepended reverse whiteSection"></div>
		</section>
		<section id="appVideo" class="pageRow full-width-slider-controls paralax skew skew-bottom customBgColor trianglifyBox">
			<div class="wrapper">
				<div class="videoAppsBox row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 staticBox clearfix">
						<h3 class="sectionTitle white text-center ralewayLight">App Video Showcase</h3>
						<div style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;" class="video-container pagePlayer wow zoomIn" data-wow-delay="0.3s">
							<div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item" src="AppBox2_arquivos/_NIsv0aHbOw.htm"></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="skew_appended whiteSection"></div>
		</section>
		<section id="downloadApp" class="pageRow">
			<div class="wrapper">
				<div class="downloadAppBox row">
					<div class="phonesImgBox col-lg-5 col-md-5 col-sm-12 col-xs-12 clearfix">
						<img style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;" class="wow fadeInLeft" data-wow-delay="0.3s" src="AppBox2_arquivos/4_003.png" alt="Phones">
					</div>
					<div class="downloadContainer col-lg-7 col-md-7 col-sm-12 col-xs-12 clearfix">
						<h4 class="download-title ralewayLight blackTxtColor"><span class="ralewayMedium">Download</span> Our App</h4>
						<span class="download-subtitle robotoLight">Choose your native platform and download the app FREE!</span>
						<ul class="store-buttons center-block clearfix">
							<li style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;" class="pull-left wow fadeInRight" data-wow-delay="0.3s">
								<a href="#" class="ellipseBtn bigBtn whiteBtn hvr-pop">
									<span>
										<i class="fa-custom-google-play"></i>
										Google Play
									</span>
								</a>
							</li>
							<li style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;" class="pull-right wow fadeInRight" data-wow-delay="0.3s">
								<a href="#" class="ellipseBtn bigBtn colorBtn hvr-pop">
									<span>
										<i class="fa fa-apple"></i>
										iOS App Store
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section id="subscribe" class="pageRow skew skew-top subscribeNewsletter graySection">
			<div class="wrapper">
				<div class="subscribeBox row">
					<div class="subscribeContainer col-lg-7 col-md-7 col-sm-12 col-xs-12 pull-right clearfix">
						<h4 class="subscribe-title ralewaySemiBold">Subscribe To Newsletter</h4>
						<div class="subscribeFormBox pull-left clear">
							<div id="mc_embed_signup" class="mailchimp-form">
								<form action="//templines.us9.list-manage.com/subscribe/post?u=fe9a9cfcf8d73763bcc53f206&amp;id=319cafcc43" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
									<div id="mc_embed_signup_scroll">
										<div class="mc-field-group mailchimp-form_field">
											<input class="subscribe-field robotoLight" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email address" type="email">
										</div>
										<div id="mce-responses" class="clear">
											<div class="response" id="mce-error-response" style="display:none"></div>
											<div class="response" id="mce-success-response" style="display:none"></div>
										</div>
										<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
										<div style="position: absolute; left: -5000px;">
											<input name="b_fe9a9cfcf8d73763bcc53f206_319cafcc43" tabindex="-1" type="text">
										</div>
										<div class="clear">
											<button type="submit" class="mailchimp-form_btn ellipseSubmitBtn whiteTxtColor smallBtn robotoMedium customBgColor hvr-pop pull-right" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">submit</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="skew_prepended reverse whiteSection"></div>
		</section>
		<section id="discountedPricing" class="pageRow">
			<div class="wrapper">
				<div class="discountBox row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
						<h3 class="sectionTitle text-center ralewayLight balck">Discounted Pricing</h3>
						<span class="smallText text-center robotoLight">Nullam id odio quis risus placerat aliquam. Cum sociis natoque penatibus et magnis dis part <br>urient montes nascetur ridiculus mus curabitur tellus lacus.</span>
						<ul class="package-list">
							<li class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;" class="package-item center-block wow fadeInLeft" data-wow-delay="0.3s">
									<div class="package-header ralewaySemiBold text-center blackTxtColor">
										Standard Package
										<div class="circle middleCircle center-block">
											<span class="robotoLight">
												<b class="robotoCondensedBold customColor">$11</b>
												per month
											</span>
										</div>
									</div>
									<div class="package-body text-center">
										<ul class="package-options">
											<li class="robotoLight text-center">Unlimited support</li>
											<li class="robotoLight text-center">Easy &amp; Fast Customization</li>
											<li class="robotoLight text-center">Unlimited Color possible</li>
											<li class="robotoLight text-center">Free PSD Template</li>
											<li class="robotoLight text-center">Lifetime Updates</li>
										</ul>
										<a href="http://html.templines.com/sokolcov/appbox/app-details.html" class="ellipseLink middleLink center-block robotoMedium blackTxtColor text-uppercase text-center hvr-pop">BUY NOW</a>
									</div>
								</div>
							</li>
							<li class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;" class="package-item center-block best wow fadeInUp" data-wow-delay="0.3s">
									<div class="package-header ralewaySemiBold text-center whiteTxtColor">
										Professional Package
										<div class="circle middleCircle center-block">
											<span class="whiteTxtColor">
												<b class="robotoCondensedBold whiteTxtColor">$25</b>
												per month
											</span>
										</div>
									</div>
									<div class="package-body text-center">
										<ul class="package-options">
											<li class="robotoLight text-center">Unlimited support</li>
											<li class="robotoLight text-center">Easy &amp; Fast Customization</li>
											<li class="robotoLight text-center">Unlimited Color possible</li>
											<li class="robotoLight text-center">Free PSD Template</li>
											<li class="robotoLight text-center">Lifetime Updates</li>
										</ul>
										<a href="http://html.templines.com/sokolcov/appbox/app-details.html" class="ellipseLink middleLink center-block robotoMedium whiteTxtColor text-uppercase text-center hvr-pop">BUY NOW</a>
									</div>
								</div>
							</li>
							<li class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;" class="package-item center-block wow fadeInRight" data-wow-delay="0.3s">
									<div class="package-header ralewaySemiBold text-center blackTxtColor">
										Corporate Package
										<div class="circle middleCircle center-block">
											<span>
												<b class="robotoCondensedBold customColor">$39</b>
												per month
											</span>
										</div>
									</div>
									<div class="package-body text-center">
										<ul class="package-options">
											<li class="robotoLight text-center">Unlimited support</li>
											<li class="robotoLight text-center">Easy &amp; Fast Customization</li>
											<li class="robotoLight text-center">Unlimited Color possible</li>
											<li class="robotoLight text-center">Free PSD Template</li>
											<li class="robotoLight text-center">Lifetime Updates</li>
										</ul>
										<a href="http://html.templines.com/sokolcov/appbox/app-details.html" class="ellipseLink middleLink center-block robotoMedium blackTxtColor text-uppercase text-center hvr-pop">BUY NOW</a>
									</div>
								</div>
							</li>							
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section id="teamMembers" class="pageRow skew paralax skew-top full-width-slider-controls customBgColor trianglifyBox">
			<div class="wrapper">
				<div class="teamMembersBox row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix staticBox">
						<h3 class="reviews-title whiteTxtColor raleway text-center membersArrow">Team Members</h3>
						<span class="reviews-subtitle robotoLight whiteTxtColor text-center">Our Apps Are Made By Professionals, Meet Them Here</span>
						<div style="opacity: 1; display: block;" id="owl-members" class="owl-carousel white-control member-full-width staticBox owl-theme">
							<div class="owl-wrapper-outer"><div style="width: 2758px; left: 0px; display: block;" class="owl-wrapper"><div style="width: 197px;" class="owl-item"><div class="member-item center-block">
								<div style="visibility: visible; animation-delay: 0.3s; animation-name: rotateIn;" class="member-ava circleBox center-block wow rotateIn" data-wow-delay="0.3s">
									<img src="AppBox2_arquivos/1_002.png" alt="Member">
								</div>
								<div class="member-name robotoCondensed whiteTxtColor text-center">Oscar Mendis</div>
								<div class="member-specialty roboto whiteTxtColor text-center">AppBox CEO</div>
							</div></div><div style="width: 197px;" class="owl-item"><div class="member-item center-block">
								<div style="visibility: visible; animation-delay: 0.3s; animation-name: rotateIn;" class="member-ava circleBox center-block wow rotateIn" data-wow-delay="0.3s">
									<img src="AppBox2_arquivos/2_003.png" alt="Member">
								</div>
								<div class="member-name robotoCondensed whiteTxtColor text-center">Thomas Hill</div>
								<div class="member-specialty roboto whiteTxtColor text-center">UX UI Designer</div>
							</div></div><div style="width: 197px;" class="owl-item"><div class="member-item center-block">
								<div style="visibility: visible; animation-delay: 0.3s; animation-name: rotateIn;" class="member-ava circleBox center-block wow rotateIn" data-wow-delay="0.3s">
									<img src="AppBox2_arquivos/3_003.png" alt="Member">
								</div>
								<div class="member-name robotoCondensed whiteTxtColor text-center">John Adam</div>
								<div class="member-specialty roboto whiteTxtColor text-center">Developer</div>
							</div></div><div style="width: 197px;" class="owl-item"><div class="member-item center-block">
								<div style="visibility: visible; animation-delay: 0.3s; animation-name: rotateIn;" class="member-ava circleBox center-block wow rotateIn" data-wow-delay="0.3s">
									<img src="AppBox2_arquivos/4_002.png" alt="Member">
								</div>
								<div class="member-name robotoCondensed whiteTxtColor text-center">Olivia Jason</div>
								<div class="member-specialty roboto whiteTxtColor text-center">Javascript</div>
							</div></div><div style="width: 197px;" class="owl-item"><div class="member-item center-block">
								<div style="visibility: visible; animation-delay: 0.3s; animation-name: rotateIn;" class="member-ava circleBox center-block wow rotateIn" data-wow-delay="0.3s">
									<img src="AppBox2_arquivos/5_003.png" alt="Member">
								</div>
								<div class="member-name robotoCondensed whiteTxtColor text-center">Tom Hasman</div>
								<div class="member-specialty roboto whiteTxtColor text-center">Beta Tester</div>
							</div></div><div style="width: 197px;" class="owl-item"><div class="member-item center-block">
								<div style="visibility: visible; animation-delay: 0.3s; animation-name: rotateIn;" class="member-ava circleBox center-block wow rotateIn" data-wow-delay="0.3s">
									<img src="AppBox2_arquivos/6.png" alt="Member">
								</div>
								<div class="member-name robotoCondensed whiteTxtColor text-center">Liza Camron</div>
								<div class="member-specialty roboto whiteTxtColor text-center">Developer</div>
							</div></div><div style="width: 197px;" class="owl-item"><div class="member-item center-block">
								<div style="visibility: visible; animation-delay: 0.3s; animation-name: rotateIn;" class="member-ava circleBox center-block wow rotateIn" data-wow-delay="0.3s">
									<img src="AppBox2_arquivos/4_002.png" alt="Member">
								</div>
								<div class="member-name robotoCondensed whiteTxtColor text-center">Oscar Mendis</div>
								<div class="member-specialty roboto whiteTxtColor text-center">Developer</div>
							</div></div></div></div>
							
							
							
							
							
							
						<div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div>
					</div>
				</div>
			</div>
			<div class="skew_prepended whiteSection"></div>
		</section>
		<section id="featured" class="pageRow graySection">
			<div class="wrapper">
				<div class="featuredBox row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
						<h3 class="sectionTitle text-center ralewayLight balck">AppBox Featured In ...</h3>
						<ul class="featured-list">
							<li><img style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;" class="wow zoomIn" data-wow-delay="0.3s" src="AppBox2_arquivos/1.png" alt="Logo 1"></li>
							<li><img style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;" class="wow zoomIn" data-wow-delay="0.3s" src="AppBox2_arquivos/2.png" alt="Logo 2"></li>
							<li><img style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;" class="wow zoomIn" data-wow-delay="0.3s" src="AppBox2_arquivos/3.png" alt="Logo 3"></li>
							<li><img style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;" class="wow zoomIn" data-wow-delay="0.3s" src="AppBox2_arquivos/4.png" alt="Logo 4"></li>
							<li><img style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;" class="wow zoomIn" data-wow-delay="0.3s" src="AppBox2_arquivos/5_002.png" alt="Logo 5"></li>
							<li><img style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;" class="wow zoomIn" data-wow-delay="0.3s" src="AppBox2_arquivos/6_002.png" alt="Logo 6"></li>
							<li><img style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;" class="wow zoomIn" data-wow-delay="0.3s" src="AppBox2_arquivos/7.png" alt="Logo 7"></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section id="support" class="pageRow skew skew-top">
			<div class="wrapper">
				<div class="supportBox row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
						<h3 class="sectionTitle text-center ralewayLight balck">App Support</h3>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 clearfix">
							<div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;" class="support-item clearfix wow fadeInLeft" data-wow-delay="0.3s">
								<div class="circle smallCircle">
									<span><i class="fa fa-map-marker customColor"></i></span>
								</div>
								<h4 class="support-item_name ralewaySemiBold blackTxtColor">Address</h4>
								<div class="support-item_info robotoLight">121 King Street, Melbourne Victoria, Australia 3000</div>
							</div>
							<div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;" class="support-item clearfix wow fadeInLeft" data-wow-delay="0.3s">
								<div class="circle smallCircle">
									<span><i class="fa fa-phone customColor"></i></span>
								</div>
								<h4 class="support-item_name ralewaySemiBold blackTxtColor">Free Helpline</h4>
								<div class="support-item_info robotoLight">
									(001) 800 345 333700<br>
									(002) 600 345 333700
								</div>
							</div>
							<div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;" class="support-item clearfix wow fadeInLeft" data-wow-delay="0.3s">
								<div class="circle smallCircle">
									<span><i class="fa fa-envelope customColor"></i></span>
								</div>
								<h4 class="support-item_name ralewaySemiBold blackTxtColor">Email</h4>
								<div class="support-item_info robotoLight">
									<a href="mailto:info@appbox.com">info@appbox.com</a>
									<a href="mailto:info@appbox.com">feedback@appbox.com</a>
								</div>
							</div>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 clearfix">
							<div class="support-desc robotoLight">Nullam id odio quis risus 
placerat aliquam. Cum sociis natoque penatibus et magnis dis part urient
 montes nascetur ridiculus mus curabitur tellus lacus.</div>
							<div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;" class="support-formbox clearfix wow fadeInRight" data-wow-delay="0.3s">
								<div id="success"></div>
								<form novalidate="" id="contactForm" class="support-form form-inline" name="sentMessage">
									<div class="form-group half-wigth pull-left">
										<label class="sr-only" for="user-name">Full Name</label>
										<input data-validation-required-message="Please enter your full name." required="" class="lineField robotoLight" id="user-name" placeholder="Full Name *" type="text">
										<p class="help-block text-danger"></p>
									</div>
									<div class="form-group half-wigth pull-right">
										<label class="sr-only" for="user-email">Email</label>
										<input data-validation-required-message="Please enter your email address." required="" class="lineField robotoLight" id="user-email" placeholder="Email *" type="email">
										<p class="help-block text-danger"></p>
									</div>
									<div class="form-group full-width pull-left">
										<label class="sr-only" for="user-message">Message</label>
										<textarea data-validation-required-message="Please enter a message." required="" class="lineField robotoLight" id="user-message" placeholder="Message"></textarea>
										<p class="help-block text-danger"></p>
									</div>
									<button type="submit" class="ellipseSubmitBtn whiteTxtColor smallBtn robotoMedium customBgColor hvr-pop pull-left clear">Send</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="skew_prepended graySection"></div>
		</section>		
		<footer id="footer" class="pageRow skew skew-top darkFooter">
			<a style="display: none;" id="scrollTop" href="#" class="goToTop whiteTxtColor"><i class="fa fa-angle-up"></i></a>
			<div class="pageRow">
				<div class="wrapper">
					<div class="footerV2Box row">
						<div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 clearfix wow fadeInLeft" data-wow-delay="0.3s">
							<a href="http://html.templines.com/sokolcov/appbox/" class="logo footerLogo pull-left clear"></a>
							<div class="footer-desc robotoLight grayTxtColor pull-left clear">Lorem
 ipsum dolor amet consecte adipisicing elit sed do eiusmod tempor 
incididunt ut labore  dolore magna aliqua. Ut enim ad minim veniam quis 
nostrud exercitation ullamco.</div>
							<div class="footer-desc robotoLight grayTxtColor pull-left clear">Laboris nisi dut aliquip ex ea commodo. conse quat. Duis aute irure dolor reprehenderit.</div>
						</div>
						<div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 clearfix wow fadeInUp" data-wow-delay="0.3s">
							<h4 class="footer-title customColor ralewayBold">Latest From Blog</h4>
							<div class="footer_blog-item">
								<div class="footer_blog-item_img">
									<a href="http://html.templines.com/sokolcov/appbox/blog-details.html" class="footer_blog-item_link"><img src="AppBox2_arquivos/1_004.jpg" alt="Blog Item"></a>
								</div>
								<div class="footer_blog-item_text robotoLight grayTxtColor">Dolore magna aliqua. Ut enimad minim veniam quis nostrud</div>
								<div class="footer_blog-item_date robotoLight">March 30, 2015</div>
							</div>
							<div class="footer_blog-item">
								<div class="footer_blog-item_img">
									<a href="http://html.templines.com/sokolcov/appbox/blog-details.html" class="footer_blog-item_link"><img src="AppBox2_arquivos/2.jpg" alt="Blog Item"></a>
								</div>
								<div class="footer_blog-item_text robotoLight grayTxtColor">Aboris nisi dut aliquip commodo conse quat. Duis aute irure.</div>
								<div class="footer_blog-item_date robotoLight">March 30, 2015</div>
							</div>
						</div>
						<div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 clearfix wow fadeInUp" data-wow-delay="0.3s">
							<h4 class="footer-title customColor ralewayBold">Popular Tags</h4>
							<ul class="tags pageRow">
								<li><a href="http://html.templines.com/sokolcov/appbox/blog-details.html" class="robotoLight text-center grayTxtColor hvr-rectangle-in">AppBox</a></li>
								<li><a href="http://html.templines.com/sokolcov/appbox/blog-details.html" class="robotoLight text-center grayTxtColor hvr-rectangle-in">Android</a></li>
								<li><a href="http://html.templines.com/sokolcov/appbox/blog-details.html" class="robotoLight text-center grayTxtColor hvr-rectangle-in">Games</a></li>
								<li><a href="http://html.templines.com/sokolcov/appbox/blog-details.html" class="robotoLight text-center grayTxtColor hvr-rectangle-in">Themeforest</a></li>
								<li><a href="http://html.templines.com/sokolcov/appbox/blog-details.html" class="robotoLight text-center grayTxtColor hvr-rectangle-in">App Showcase</a></li>
								<li><a href="http://html.templines.com/sokolcov/appbox/blog-details.html" class="robotoLight text-center grayTxtColor hvr-rectangle-in">Mobile</a></li>
								<li><a href="http://html.templines.com/sokolcov/appbox/blog-details.html" class="robotoLight text-center grayTxtColor hvr-rectangle-in">Free Apps</a></li>
								<li><a href="http://html.templines.com/sokolcov/appbox/blog-details.html" class="robotoLight text-center grayTxtColor hvr-rectangle-in">Apps theme</a></li>
								<li><a href="http://html.templines.com/sokolcov/appbox/blog-details.html" class="robotoLight text-center grayTxtColor hvr-rectangle-in">Modern Apps</a></li>
							</ul>
						</div>
						<div style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 clearfix wow fadeInRight" data-wow-delay="0.3s">
							<h4 class="footer-title customColor ralewayBold">Flickr Widget</h4>
							<ul class="widgets pageRow">
								<li>
									<a href="http://html.templines.com/sokolcov/appbox/blog.html">
										<img src="AppBox2_arquivos/1_003.jpg" alt="Widget">
									</a>
								</li>
								<li>
									<a href="http://html.templines.com/sokolcov/appbox/blog.html">
										<img src="AppBox2_arquivos/2_002.jpg" alt="Widget">
									</a>
								</li>
								<li>
									<a href="http://html.templines.com/sokolcov/appbox/blog.html">
										<img src="AppBox2_arquivos/3_002.jpg" alt="Widget">
									</a>
								</li>
								<li>
									<a href="http://html.templines.com/sokolcov/appbox/blog.html">
										<img src="AppBox2_arquivos/4.jpg" alt="Widget">
									</a>
								</li>
								<li>
									<a href="http://html.templines.com/sokolcov/appbox/blog.html">
										<img src="AppBox2_arquivos/5.jpg" alt="Widget">
									</a>
								</li>
								<li>
									<a href="http://html.templines.com/sokolcov/appbox/blog.html">
										<img src="AppBox2_arquivos/6.jpg" alt="Widget">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="pageRow footerBottom">
				<div class="wrapper">
					<div class="footerV2Box row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 clearfix">
							<div style="visibility: visible; animation-delay: 0.3s; animation-name: bounceIn;" class="copyrightV2Txt robotoLight whiteTxtColor wow bounceIn pull-left" data-wow-delay="0.3s">Copyright © 2015. Designed by Templines</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 clearfix">
							<ul style="visibility: visible; animation-delay: 0.5s; animation-name: bounceIn;" class="socialmenu wow bounceIn pull-right" data-wow-delay="0.5s">
								<li><a href="#" target="_blank" class="hvr-pop"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" target="_blank" class="hvr-pop"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" target="_blank" class="hvr-pop"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" target="_blank" class="hvr-pop"><i class="fa fa-pinterest-p"></i></a></li>
								<li><a href="#" target="_blank" class="hvr-pop"><i class="fa fa-behance"></i></a></li>
								<li><a href="#" target="_blank" class="hvr-pop"><i class="fa fa-dribbble"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="skew_prepended whiteSection"></div>
		</footer>
		</div>
		
		<script src="AppBox2_arquivos/jquery.js"></script>
		<script src="AppBox2_arquivos/jquery-ui.js"></script>
		<script src="AppBox2_arquivos/smoothscroll.js"></script>
		<!-- Loader -->
		<script src="AppBox2_arquivos/classie.js"></script>
		<script src="AppBox2_arquivos/pathLoader.js"></script>
		<script src="AppBox2_arquivos/main.js"></script>
		<script src="AppBox2_arquivos/classie_002.js"></script>
		<!--Owl Carousel-->
	    <script src="AppBox2_arquivos/owl.js"></script>
        <!--Contact form--> 
        <script src="AppBox2_arquivos/jqBootstrapValidation.js"></script> 
        <script src="AppBox2_arquivos/contact_me.js"></script>
		<!--THEME--> 
		<script src="AppBox2_arquivos/wow.js"></script>
		<script src="AppBox2_arquivos/cssua.js"></script>
        <script src="AppBox2_arquivos/func.js"></script> 
	
</body></html>